.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#image_container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

/* Resize images */
  #image_container > img {
  float: left;
  border: 2px solid black;
  width: 45%;
  height: 45%;
  margin: 1.66%;
  object-fit: cover;
}

#description_container {
  text-align: center;
}

.listing_page_form {
  text-align: center;
}

#thumbnail {
  border: 1px solid #ddd; 
  border-radius: 4px;  
  padding: 5px; 
  width: 150px; 
  height: 200px;
}

#thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.col-md-3 {
  float: left;
  width: 20%;
}

.search {
  text-align: center;

}

.header__center {
  background-color: #3fb0ac;
}

.app {
  background-color: #fae596;
}

.signup-form {
  position: relative;
  z-index: 1;
  background: #3fb0ac;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form {
  position: relative;
  z-index: 1;
  background: #3fb0ac;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#body {
  background-color: #fae596;
}

#title {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: center;
  font-size: 55px;
  padding-bottom: 10px;
  
}

#user_welcome {
  text-align: right;
  padding-right: 50px;
  padding-bottom: 20px;
}

.logout_btn {
  text-align: left;
  margin-right: 10px;
}







